body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
   
}

.first-page{
   
    height: 600px;
    background-color: #B9F3FC;
    position: relative;
    padding-top: 150px;
   
}
.second-page{
    position: relative;
    height: 1220px;
    background-color: #FFEDDB;
}

.mountain{
    position: absolute;
    bottom:0;
    width:100%;
    
}

.cloud-down{
    position: absolute;
    left: 500px;
    top:300px
}

.cloud-up{
    position: absolute;
    right: 500px;
    top: 100px;
}

.name{
    margin-top: 0px;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    margin: 0 auto 0 auto;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.me{
    width: 100%;
    position: absolute;
    margin: 0 auto 10 auto;
}

.img{
    border-radius: 50%;
    width: 200px;
    margin: 0 auto 10px auto;
}
hr{
    
    border: none;
    border-top: 5px dotted #545454;
    height: 1px;
    width:10%;
    background-color:white;
    opacity: 0.3;
    margin-top: 30px;
}
.skills{
    width: 100%;
    position: absolute;
    margin:400px auto 10px auto;
    
}
.img-box{
    width:100%;
}
.giphy{
    width: 350px;
    margin-right: 600px;
}
.h2{
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 2.5em;
    font-weight: bold;
}   
.row1{
    position: absolute;
    top: 100px;
    right: 0px;
}
.web{
    width:350px;
    margin-left: 400px;
    
}
.skills2{
    background-color: #DDFFBB;
    position: absolute;
    top: 350px;
    border-radius: 0 50% 50% 0;
    
}
.skills1{
    background-color: #FA9884;
    position: absolute;
    right: 0;
    border-radius: 50% 0 0 50%;
    
}
.row2{
   position: absolute;
   top:100px;

}
.contact-me{
    position: relative;
    background-color: #B5F1CC;
    height: 500px;
}

.cont{
    width:250px;
    position: absolute;
    left: 500px;
    top: 100px;
}
.h3{
    position: absolute;
    top: 130px;
    left: 950px;
    font-size: 22px;
    font-weight: bold;
}
.free{
    position: absolute;
    top: 190px;
    left: 900px;
}
.dibba{
    background-color: #3ea08a;
    font-size: 20px;
    padding: 1em 2.8em 1em 2.8em;
    margin: 1.5em 0 0;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
    position: absolute;
    top: 350px;
    left: 617px;
    
    
    
}
.dibba:hover{
    background-color: #3e8e41;
}
.head{
    position: absolute;
}
.para{

}
.links{
    position: absolute;
    top: 100px;
    left: 570px;
    color: #C9D6DF;
    font-family: sans-serif;
}
    
.footer{
    position: relative;
    height: 200px;
    background-color: #52616B;
    
}
.insta{
    text-decoration: none;
    margin-right: 100px;
    color: #C9D6DF;
}
.linkedin{
    text-decoration: none;
    margin-right: 100px;
    color: #C9D6DF;
}
.hire{
    text-decoration: none;
    color: #C9D6DF;
}
